.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

    h1 {
        margin-left: 5rem;
        font-size: 1.875rem;
        font-weight: bold;
        color: #374151;
    }

    button {
        background-color: #374151;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 0.375rem;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: .5rem;

        &:hover {
            background-color: #252c36;
        }
    }
}

.tableContainer {
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    height: 100%;

    @media (min-width: 768px) {
        padding: 1rem 0;
    }
}

.table {
    border-collapse: collapse;
    text-align: center;
   

    thead {
        display: block;
        width: 100%;
        border-bottom: 2px solid #e5e7eb;
        color: #374151;

    }

    tbody {
        display: block;
        overflow-y: scroll;
        // max-height: 600px;
        width: 100%;
        transition: none;
    }

    th,
    td {
        padding: 0.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        inset: 0;
        position: relative;
        width: 100%;
    }

    tr {
        display: flex;
        justify-content: space-between;
        // align-items: center;
        border-bottom: 1px solid #e5e7eb;

        th:first-child,
        td:first-child {
            max-width: 250px;
        }

        &:hover {
            background-color: #f9fafb;
        }
    }
}

.empty {
    text-align: center;
    padding: 1rem;
    color: #6b7280;
}

.actions {
    text-align: right;

    button {
        color: #dc2626;
        border: none;
        background: none;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}