.backdrop {
    position: fixed;
    inset: 0;
    height: 100vh;
    z-index: 60;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal {
    position: fixed;
    inset: 2.5vh auto auto 2.5vw;
    width: 95%;
    /* max-height: 85vh; */
    height: max-content;
    overflow: auto;
    background-color: white;
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 70;

    .x-mark {
        position: fixed;
        inset: 1rem 2.5rem auto auto;
        font-size: 1.875rem;
        cursor: pointer;

        @media(min-width:1024px) {
            top: 1.75rem;
            font-size: 2.25rem;
        }
    }

    @media (min-width: 768px) {
        top: 5vh;
        max-height: 50rem;
        padding: 3rem;
    }

    @media (min-width: 1024px) {
        top: 10vh;
        width: 60rem;
        max-height: 80vh;
        left: calc(50% - 30rem);
        padding: 5rem;
    }
}

.slide-down {
    animation: slide-down .5s ease-out forwards;
}

.fade-in {
    animation: fade-in .5s ease-out forwards;
}

.fade-out {
    animation: fade-out .5s ease-out forwards;
}

// --------------------- Animation Definitions
@keyframes slide-down {
    from {
        transform: scale(0.5);
        transform: translateY(-3rem);
    }

    to {
        transform: scale(1);
        transform: translateY(0);
    }
}


@keyframes fade-in {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}