@import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark-gray: #1e2939;
  --light-gray: #d1d5dc;
  --white: #fff
}

* {
  font-family: Helvetica Neue, Helvetica, Arial, sans-seri
}

.ojuju {
  font-family: "Ojuju", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

.product-picture-backgound {
  position: relative;
  overflow: hidden;
  background: linear-gradient(#e6e6e6, #fff);
}

img {
  width: 100%;
}
/* 
.product-picture-backgound::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: -10;
} */