@use '@/asset/scss/variables' as *;


.product-detail {
    display: flex;
    flex-wrap: wrap;

    &>* {
        width: 100%;
        flex-direction: row;
    }

    @media(min-width: 1080px) {
        &>* {
            width: 50%;
        }
    }

    &--relative {
        position: relative;
    }

    &--sticky {
        position: sticky;
        top: $header-height-mobile ;

        @media(min-width:1080px) {
            top: $header-height-desktop;
        }
    }
}


.product-images {
    display: flex;
    overflow-x: scroll;
    position: sticky;
    top: 0;

    @media (min-width: 1080px) {
        flex-direction: column;
        top: 0;
    }

    .image-container {
        flex: none;
        min-height: 70vh;
        width: 100%;
        background: linear-gradient(180deg, #dddddd, #fff);
    }
}

.product-infors {
    min-height: 100vh;
    max-height: max-content;
    background: white;

    &>* {
        padding: 1rem;
        line-height: 2rem;

        @media (min-width: 768px) {
            padding: 1.5rem;
        }

        @media (min-width:1080px) {
            max-width: 550px;
            margin: 0 auto;
        }
    }

    h1 {
        font-size: 1.125rem;
        letter-spacing: 0.025rem;
        line-height: 2rem;
    }

    .cta-btn {
        background: black;
        color: white;
        border: 1px solid black;
        border-radius: 2rem;
        padding: .75rem;
        display: block;
        text-align: center;
        margin: 1rem 0 2.5rem 0;
        transition: color .3s $transition-ease;

        &:hover {
            background: white;
            color: black;
        }

        @media (min-width: 768px) {
            margin: 1.25rem 0 4rem 0;
        }
    }

    .description {
        font-size: .875rem;
    }
}