@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Gucci Sans Pro", Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --_g-icon-fill-color: #000;
}

svg:not(:root) {
  overflow-clip-margin: content-box;
  overflow: hidden;
}